/**
 * RESONSIVE
 */

@mixin desktop {
  @media (min-width: #{$page-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$desktop-width + 19}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$tablet-width + 19}) {
    @content;
  }
}

/**
 * LARGEUR SITE
 */

@mixin width-site {
  width: $page-width;

  @include desktop {
    width: $desktop-width;
  }

  @include tablet {
    width: $tablet-width;
  }

  @include phone {
    width: $phone-width;
  }
}