{% extends 'base.html.twig' %}

{% block body %}
<div id="PlayerWrapper">
    <ul id="TrackList">
        {% for track in episodes %}
            <li class="TrackItem">
                <a href="#">
                    <span class="TrackItem-title">{{ track.title }}</span>
                    <span class="TrackItem-category">{{ track.category }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div id="Player">
        <div id="Player-progressBar">
            <div id="currentTime" class="time">0:00</div>
            <div id="maxTime" class="time">0:00</div>
            <div id="duration"></div>
        </div>

        <div id="Player-controls">
            <div id="prev"></div>
            <div id="playpause" class="play"></div>
            <div id="next"></div>
            <div id="loop"></div>
            <div id="shuffle"></div>
        </div>
    </div>
</div>
{% endblock %}
