/**
 * Sizes
 */
$desktop_width: 1024px;
$tablet_width: 580px;
$phone_width: 90%;
$header_height: 50px;


// Colors
$dark-grey : #2b2b2b;
$light-grey: #e6e6e7;
$orange: #e07934;

$player_height : 115px;
