#header {
	position: fixed;
	z-index: 10;
	top: 0;

	display: block;
	width: 100%;
	height: $header_height;

	background-color: #2b2b2b;

	padding: 10px;

	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#logo {
	position: absolute;
}
