#SearchForm {
	.SearchField {
		border: none;
		border-radius: 20px;

		padding: 10px;
	}

	.SearchButton{
		svg {
			fill: white;
		}
	}
}

#SearchResults {
	margin: 0;
	padding: 0;

	list-style: none;

	background-color: #eee;

	.ResultItem {
		padding: 20px;

		background-color: #939393;

		cursor: pointer;

		.highlight {
			background-color: yellow;
		}
	}

	.ResultItem:nth-child(2n+1) {
		background-color: silver;
	}
}
