#PlayList {
  margin: 50px 0 131px 0;
  padding: 0;

  list-style: none;

  background-color: #393939;

  @include desktop {
    margin-top: 60px;

    box-shadow: 0 0 3px rgba(0,0,0,.5);
  }
}

.EpisodeItem {
  overflow: hidden;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 50px;

  text-decoration: none;
  color: #eee;
  font-size: 0.8em;

  padding-left: 50px;

  background-color: #323232;

  cursor: pointer;

  &.active {
    background-color: $orange !important;

    // A "pause" style.
    &:after {
      content: "";

      display: block;
      position: absolute;

      left: 20px;
      top: 18px;

      width: 3px;
      height: 11px;

      border-right: 3px solid #323232;
      border-left: 3px solid #323232;
      border-top: none;
      border-bottom: none;
    }

    &:before {
      background-color: #e6e6e6 !important;;
    }
  }

  &:nth-child(2n+1) {
    background-color: #393939;
  }

  &:hover {
    background-color: #23232c;
    color: #eee
  }

  // A simple square block.
  &:before {
    content: "";

    display: block;
    position: absolute;

    width: 28px;
    height: 28px;

    left: 10px;
    top: 10px;

    background-color: #4d4d4d;

    border-radius: 3px;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  }

  // A simple triangle block.
  &:after {
    content: "";

    display: block;
    position: absolute;

    left: 20px;
    top: 18px;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent #c8cbcd;
  }
}

.EpisodeItem-category {
  display: block;

  color: #5c5c5c;
}
