#ResultWrapper {
  position: fixed;
  z-index: 9;

  top: 0;
  left: 100%;

  width: 100%;
  height: 100%;

  overflow: scroll;

  background: white;

  // Height of the header.
  margin-top: 50px;
  // Height of the player.
  padding-bottom: 50px;

  transition: left 0.5s ease-in-out;

  &.opened {
    left: 0;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

#ResultList {
  margin: 0;
  padding: 0;

  list-style: none;

  .ResultItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 90px;

    padding: 10px 20px;

    border-bottom: solid 1px silver;

    cursor: pointer;

    &:hover {
      background-color: $light-grey;
    }

    &:last-child {
      border: none;
    }

    .highlight {
      color: $orange !important;
    }
  }
}

.ResultItem-keywords {
  font-style: italic;
  color: silver;
}